<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334239902633-c8bbejdd2k1apqsn9hmunel8btgbd6jm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334239902633-c8bbejdd2k1apqsn9hmunel8btgbd6jm</string>
	<key>API_KEY</key>
	<string>AIzaSyAYrx43yhsw-2Yp1E1wkBaAHuetrxPtH6g</string>
	<key>GCM_SENDER_ID</key>
	<string>334239902633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>medk.bjj.management.bjjMembersManagement</string>
	<key>PROJECT_ID</key>
	<string>soj-gym</string>
	<key>STORAGE_BUCKET</key>
	<string>soj-gym.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334239902633:ios:8355314a74e851aa9f32b8</string>
	<key>DATABASE_URL</key>
	<string>https://soj-gym-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>